body, html {
    padding: 0;
    margin: 0;
}

/* Google Font Icons */
.material-symbols-outlined {
    font-size: 70px !important; 
}

.text-fallout {
    color: var(--fallout-green) !important;
}

.text-fallout-disabled {
    color: var(--fallout-green-disabled) !important;
}

.border-bottom-black {
    border-color: var(--fallout-green) !important;
    border-bottom-color: black !important;
}

.border-fallout {
    border-color: var(--fallout-green) !important;
}

.fallout-breaker {
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
}

.bg-fallout {
    background-color: var(--fallout-green) !important;
}

#myTab .nav-link.active {
    background-color: var(--ct-bg-page) !important;
}

#falloutSpecialTabs a {
    background-color: black !important;
    color: var(--fallout-green) !important;
    border: none !important;
    border-radius: 1px !important;
    /* margin-bottom: 2px !important; */
}

#falloutSpecialTabs a.active {
    background-color: var(--fallout-green) !important;
    color: black !important;
}

#falloutSpecialTabs a:hover {
    background-color: var(--fallout-green-hover) !important;
    opacity: 0.7 !important;
    color: black !important;
}

.img-fallout {
    max-height: 200px !important;
}